In [1]:
# Feature Engineering 

import pandas as pd

dataset = pd.read_csv('Cleaned_Dataset.CSV')  # Getting the data from the cleaned dataset csv file

print(dataset.shape)
dataset.head()

(1500, 22)

,customer_id,customer_name,gender,senior_citizen,partner,dependents,tenure,contract,paperless_billing,payment_method,...,phone_service,multiple_lines,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,churn
0,CUST0001,John doe,male,0,yes,no,64,month to month,yes,electronic check,...,no,no,dsl,NaN,NaN,NaN,NaN,NaN,NaN,yes
1,CUST0002,Lauren Vaughan,female,1,NaN,NaN,25,month to month,yes,NaN,...,no,NaN,none,NaN,yes,NaN,NaN,NaN,NaN,NaN
2,CUST0003,Mrs. Elizabeth Turner DDS,male,1,NaN,no,61,one year,no,electronic check,...,NaN,no,none,NaN,NaN,no,NaN,NaN,no,NaN
3,CUST0004,Tiffany Johnson,female,1,NaN,yes,49,NaN,yes,NaN,...,no,no,dsl,yes,no,NaN,NaN,NaN,NaN,yes
4,CUST0005,Dr. Janice Berg,female,1,no,yes,47,NaN,no,NaN,...,no,NaN,NaN,NaN,NaN,no,yes,NaN,no,yes

In [2]:
# Checking the null valuses count
dataset.isnull().sum()

customer_id            0
customer_name          0
gender               298
senior_citizen         0
partner              292
dependents           729
tenure                 0
contract             312
paperless_billing    282
payment_method       309
monthly_charges        0
total_charges          0
phone_service        493
multiple_lines       373
internet_service     290
online_security      485
online_backup        469
device_protection    511
tech_support         512
streaming_tv         738
streaming_movies     730
churn                514
dtype: int64

In [3]:
# Droping the unwanted columns

dataset.drop(['customer_id', 'customer_name'], axis=1, inplace=True)

In [4]:
# Identify categorical columns
cat_cols = dataset.select_dtypes(include='object').columns

# Fill NaN with 'unknown'
dataset[cat_cols] = dataset[cat_cols].fillna('unknown')

# Check again
dataset.isnull().sum()

gender               0
senior_citizen       0
partner              0
dependents           0
tenure               0
contract             0
paperless_billing    0
payment_method       0
monthly_charges      0
total_charges        0
phone_service        0
multiple_lines       0
internet_service     0
online_security      0
online_backup        0
device_protection    0
tech_support         0
streaming_tv         0
streaming_movies     0
churn                0
dtype: int64

In [5]:
# one-hot encoding on your categorical variables for converting to 0 and 1 for Machine Learning modeling
dataset = pd.get_dummies(dataset, drop_first=True) # drop_first=True to remove the churn_no 
print(dataset)

      senior_citizen  tenure  monthly_charges  total_charges  gender_male  \
0                  0      64            67.59        1000.50         True
1                  1      25            67.59        1000.50        False
2                  1      61            67.59        1000.50         True
3                  1      49           115.37        2698.62        False
4                  1      47            67.59        5180.88        False
...              ...     ...              ...            ...          ...
1495               0      67            67.59        1000.50         True
1496               1       8            47.97        1000.50         True
1497               0       7            67.59        1000.50        False
1498               1      34            57.74        1000.50        False
1499               1      13            67.59        1000.50         True

      gender_unknown  partner_unknown  partner_yes  dependents_unknown  \
0              False            False         True               False
1              False             True        False                True
2              False             True        False               False
3              False             True        False               False
4              False            False        False               False
...              ...              ...          ...                 ...
1495           False             True        False               False
1496           False             True        False                True
1497           False            False        False               False
1498           False            False         True               False
1499           False            False        False                True

      dependents_yes  ...  device_protection_unknown  device_protection_yes  \
0              False  ...                       True                  False
1              False  ...                       True                  False
2              False  ...                      False                  False
3               True  ...                       True                  False
4               True  ...                      False                  False
...              ...  ...                        ...                    ...
1495            True  ...                       True                  False
1496           False  ...                      False                   True
1497            True  ...                      False                  False
1498            True  ...                       True                  False
1499           False  ...                      False                  False

      tech_support_unknown  tech_support_yes  streaming_tv_unknown  \
0                     True             False                  True
1                     True             False                  True
2                     True             False                  True
3                     True             False                  True
4                    False              True                  True
...                    ...               ...                   ...
1495                  True             False                  True
1496                 False              True                  True
1497                 False              True                 False
1498                 False              True                 False
1499                 False             False                  True

      streaming_tv_yes  streaming_movies_unknown  streaming_movies_yes  \
0                False                      True                 False
1                False                      True                 False
2                False                     False                 False
3                False                      True                 False
4                False                     False                 False
...                ...                       ...                   ...
1495             False                     False                  True
1496             False                     False                  True
1497             False                     False                 False
1498             False                      True                 False
1499             False                      True                 False

      churn_unknown  churn_yes
0             False       True
1              True      False
2              True      False
3             False       True
4             False       True
...             ...        ...
1495          False      False
1496          False       True
1497          False       True
1498          False      False
1499          False       True

[1500 rows x 42 columns]

In [6]:
from sklearn.preprocessing import StandardScaler

# Only scale numerical columns for z score
numeric_cols = ['tenure', 'monthly_charges', 'total_charges']
scaler = StandardScaler()   
dataset[numeric_cols] = scaler.fit_transform(dataset[numeric_cols])

In [7]:
print(dataset.info())
print(dataset.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 42 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   senior_citizen                          1500 non-null   int64
 1   tenure                                  1500 non-null   float64
 2   monthly_charges                         1500 non-null   float64
 3   total_charges                           1500 non-null   float64
 4   gender_male                             1500 non-null   bool
 5   gender_unknown                          1500 non-null   bool
 6   partner_unknown                         1500 non-null   bool
 7   partner_yes                             1500 non-null   bool
 8   dependents_unknown                      1500 non-null   bool
 9   dependents_yes                          1500 non-null   bool
 10  contract_month-to-month                 1500 non-null   bool
 11  contract_one year                       1500 non-null   bool
 12  contract_two year                       1500 non-null   bool
 13  contract_unknown                        1500 non-null   bool
 14  paperless_billing_unknown               1500 non-null   bool
 15  paperless_billing_yes                   1500 non-null   bool
 16  payment_method_credit card (automatic)  1500 non-null   bool
 17  payment_method_electronic check         1500 non-null   bool
 18  payment_method_mailed check             1500 non-null   bool
 19  payment_method_unknown                  1500 non-null   bool
 20  phone_service_unknown                   1500 non-null   bool
 21  phone_service_yes                       1500 non-null   bool
 22  multiple_lines_unknown                  1500 non-null   bool
 23  multiple_lines_yes                      1500 non-null   bool
 24  internet_service_fiber optic            1500 non-null   bool
 25  internet_service_no                     1500 non-null   bool
 26  internet_service_none                   1500 non-null   bool
 27  internet_service_unknown                1500 non-null   bool
 28  online_security_unknown                 1500 non-null   bool
 29  online_security_yes                     1500 non-null   bool
 30  online_backup_unknown                   1500 non-null   bool
 31  online_backup_yes                       1500 non-null   bool
 32  device_protection_unknown               1500 non-null   bool
 33  device_protection_yes                   1500 non-null   bool
 34  tech_support_unknown                    1500 non-null   bool
 35  tech_support_yes                        1500 non-null   bool
 36  streaming_tv_unknown                    1500 non-null   bool
 37  streaming_tv_yes                        1500 non-null   bool
 38  streaming_movies_unknown                1500 non-null   bool
 39  streaming_movies_yes                    1500 non-null   bool
 40  churn_unknown                           1500 non-null   bool
 41  churn_yes                               1500 non-null   bool
dtypes: bool(38), float64(3), int64(1)
memory usage: 102.7 KB
None
   senior_citizen    tenure  monthly_charges  total_charges  gender_male  \
0               0  1.313150        -0.020344      -0.335299         True
1               1 -0.554296        -0.020344      -0.335299        False
2               1  1.169500        -0.020344      -0.335299         True
3               1  0.594901         2.709774       1.120171        False
4               1  0.499135        -0.020344       3.247732        False

   gender_unknown  partner_unknown  partner_yes  dependents_unknown  \
0           False            False         True               False
1           False             True        False                True
2           False             True        False               False
3           False             True        False               False
4           False            False        False               False

   dependents_yes  ...  device_protection_unknown  device_protection_yes  \
0           False  ...                       True                  False
1           False  ...                       True                  False
2           False  ...                      False                  False
3            True  ...                       True                  False
4            True  ...                      False                  False

   tech_support_unknown  tech_support_yes  streaming_tv_unknown  \
0                  True             False                  True
1                  True             False                  True
2                  True             False                  True
3                  True             False                  True
4                 False              True                  True

   streaming_tv_yes  streaming_movies_unknown  streaming_movies_yes  \
0             False                      True                 False
1             False                      True                 False
2             False                     False                 False
3             False                      True                 False
4             False                     False                 False

   churn_unknown  churn_yes
0          False       True
1           True      False
2           True      False
3          False       True
4          False       True

[5 rows x 42 columns]

In [8]:
# Exporting a CSV file for the cleaned dataset
dataset.to_csv('Model_Buliding_Dataset.CSV', index=False)